.cards {
    flex-grow: 1;
    display: grid;
    padding: 2em;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(6, 1fr);
    gap: 2em;
}

.card {
    border: 1px dashed red;
    position: relative;
    aspect-ratio: 2/3;
    cursor: pointer;
}
.card img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
